body {
    padding: 0px 1%;
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
}

h1 {
    margin-bottom: 42px;
}

h2 {
    margin: 0;
    font-size: 21px;
}

p {
    font-size: 14px;
}

input[type="text"], input[type="number"] {
    border-radius: 0px;
    border: 1px black solid;
    font-family: 'DM Sans', sans-serif;
    background-color: #F6F6F6;
    padding: 5px 14px;
    border-radius: 28px;
}

button {
    min-width: 98px;
    min-height: 28px;
    border-radius: 28px;
    border: 1px black solid;
    padding: 2px 14px;
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
}

#getCurrent {
    background-color: white;
    border: none;
    color: blue;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    font-size: 10px;
}

.stepInput button {
    margin-left: 14px;
    min-width: 96px;
}

#routePlannerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 21px;
}

#route {
    margin: 14px 0px;
}

#result {
    margin-top: 28px;
}

#result td {
    background-color: #F6F6F6;
    padding: 7px;
}

#result button {
    margin-top: 28px;
    margin-bottom: 28px;
    height: 42px;
    width: 100%;
}

#resultContainer {
    width: auto;
}

.resultOutputCard {
    background-color: #F6F6F6;
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    border-radius: 28px;
    padding: 21px 21px;
    margin-top: 21px;
}

.carImage img{
    width: 80%;
    height: auto;
    margin: -24px 0px;
}

.carImage {
    width: 50%;
    height: auto;
}

.carInfo {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
}

.carInfo p {
    font-size: 21px;
    line-height: 28px;
}

.stepElement {
    /*background-color: #F6F6F6;
    padding: 14px 21px;
    border-radius: 28px; */
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    text-wrap: nowrap;
}

.stepInput {
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stepInput input{
    width: 100%;
}

.stepInput p{
    min-width: 98px;
}

#stopInput {
    display: none;
}

#time {
    margin-top: 21px;
}

table {
    text-align: left;
    width: 100%;
}

td {
    padding: 7px 7px 7px 0px;
}

.dot {
    min-width: 14px;
    min-height: 14px;
    border-radius: 50%;
    background-color: black;
    margin-right: 21px;
}

.line {
    margin-left: 6px;
    margin-top: -14px;
    margin-bottom: -14px;
    width: 14px;
    height: 56px;
    border-left: 2px dotted black;
}

#datetimepicker {
    display: none;
}

.tag {
    background-color: blue;
    color: white;
    border-radius: 28px;
    padding: 14px 14px;
    font-size: 10px;
    line-height: 0;
    text-align: center;
}

.tagContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    row-gap: 8px;
    column-gap: 8px;
    justify-content: left;
    flex-wrap: wrap;
}