body {
    padding: 0px 1%;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #d9dbdb;
    color: #04080F;
}

#projectContainer {
    width: 90%;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    padding: 0px 12px;
}

h1 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 42px;
}

h2 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 28px;
}

p {
    font-size: 14px;
}

input[type="text"], input[type="number"] {
    border-radius: 0px;
    border: 1px black solid;
    font-family: "Roboto", sans-serif;
    padding: 8px 22px;
    border-radius: 24px;
}

button {
    min-width: 98px;
    min-height: 34px;
    border-radius: 24px;
    border: 0px;
    padding: 2px 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    cursor: pointer;
    background-color: #FF4A1C;
}

#getCurrent {
    text-wrap: nowrap;
    width: 50%;
    border: 1px #FF4A1C solid;
    color: #FF4A1C;
    background-color: #ffffff;
}

#addButton {
    border: 1px #FF4A1C solid;
    background-color: #ffffff;
    color: #FF4A1C;
}

.stepInput button {
    margin-left: 14px;
    min-width: 96px;
}

#routePlannerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 12px;
    background-color: #ffffff;
    padding: 32px 32px;
    border-radius: 24px;
}

#route {
    margin: 14px 0px;
}

#result {
    margin-top: 28px;
}

#result td {
    background-color: #ffffff;
    padding: 7px;
}

#result button {
    margin-top: 28px;
    height: 42px;
    width: 100%;
    color: #FFFFFF;

}

#resultContainer {
    width: 100%;
    margin-bottom: 64px;
}

.stepElement {
    /*background-color: #F6F6F6;
    padding: 14px 21px;
    border-radius: 28px; */
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    text-wrap: nowrap;
}

.stepInput {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stepInput input{
    width: 100%;
}

.stepInput p{
    min-width: 98px;
}

#stopInput {
    display: none;
}

#time {
    margin-top: 21px;
}

table {
    text-align: left;
    width: 100%;
    border-radius: 24px;
    padding: 12px 24px;
    background-color: #f7f7f7;
}

td {
    border-radius: 24px;
    background-color: #f7f7f7 !important;
}

.dot {
    min-width: 14px;
    min-height: 14px;
    border-radius: 50%;
    background-color: black;
    margin-right: 21px;
}

.line {
    margin-left: 6px;
    margin-top: -14px;
    margin-bottom: -14px;
    width: 14px;
    height: 56px;
    border-left: 2px dotted black;
}

#editTime {
    color: #FF4A1C;
}

#datetimepicker {
    display: none;
}

#totalWaitNight {
    display: none;
}


.resultOutputCard {
    background-color: #ffffff;
    padding: 32px 32px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: space-between;
    align-items: top;
    margin-top: 21px;
}

.resultHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #04080F;
    margin-bottom: 24px;
}

.carModel {
    width: 100%;
}

.serviceLogo {
    width: 30%;
}

.serviceLogo img{
    width: 100%;
    height: auto;
}

.carModel {
    width: 50%;
    font-size: 18px;
}

.resultBody {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carImage {
    width: 100%;
}

.carImage img{
    width: 100%;
    height: auto;
}

.carPrice {
    width: 100%;
    text-align: center;
    padding-left: 32px;
}

.carPrice .price {
    margin-top: -32px;
    font-size: 42px;
    color: #FF4A1C;
}

.carPrice .breakdown {
    font-size: 12px;
    margin-top: -32px;
}

.resultFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tagContainer {
    display: flex;
    width: 100%;
    justify-content: start;
    column-gap: 8px;
}

.tag {
    background-color: #FF4A1C;
    color: #FFFFFF;
    padding: 8px 24px;
    border-radius: 24px;
    font-size: 12px;
}

.packageTag {
    background-color: #04080F;
    color: #FFFFFF;
    padding: 8px 24px;
    border-radius: 24px;
    font-size: 12px;
}