body {
    background-color: black;
    color: white;
    font-family: 'Space Mono', monospace;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 14px;
    font-size: 14px;
}

a:hover {
    color: grey;
}

p {
    font-size: 14px;
}

h2 {
    font-size: 21px;
    margin: 0 0;
}

#mainContainer {
    padding: 2% 5%;
}

#navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#navbar button {
    border: none;
    background-color: black;
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    padding: 0;
    margin-left: 14px;
}

#navbar a {
    font-size: 14px;
}

#navbar button:hover {
    cursor: pointer;
    color: grey;
}

#navbar button:nth-child(1) {
    margin-left: 0;
}

#about {
    display: none;
    width: 100%;
    margin: 42px 0;
}

#sound {
    display: none;
    width: 100%;
    margin: 42px 0;
    flex-direction: column;
    row-gap: 24px;
}

#contacts {
    display: none;
    flex-wrap: wrap;
    width: 100%;
    margin: 42px 0;
}

#contacts div img {
    width: 100%;
    height: auto;
}

#contacts div {
    width: 30%;
}

#contacts div:nth-child(2) {
    margin-left: 21px;
    width: 60%;
}

#projects {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 42px 0;
    column-gap: 28px;
    row-gap: 28px;
}

#projectContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#projectContainer img{
    width: 100%;
    height: auto;
    margin-top: 14px;
}

#projectContainer a{
    font-weight: bold;
}

@media only screen and (max-width: 980px) {
    #projects {
        grid-template-columns: 1fr 1fr;
    }
    #navbar div:nth-child(1) {
        flex-basis: 100%;
    }
    #navbar div:nth-child(2) {
        margin-top: 7px;
    }
  }

  @media only screen and (max-width: 600px) {
    #projects {
        grid-template-columns: 1fr;
    }
    #contacts div {
        width: 100%;
    }
    #contacts div:nth-child(2) {
        margin-left: 0px;
        margin-top: 21px;
    }
  }