.inputField {
	font-size: 32px;
	font-family: mindset-regular;
	text-align: center;
	background-color: #fef7db;
	border: none;
	padding: 8px 24px;
}

.hiScoresContainer {
	overflow: scroll;
	font-size: 24px;
	line-height: 4px;
}

.hiScoresContainer p{
	width: 90%;
	font-family: mindset-regular;
	padding: 4px 8px;
	border-radius: 12px;
	display: flex;
	justify-content: space-between;
}

.userScore{
	background-color: #FDD306;
	line-height: 24px;
}